.hero-unit
  h2 All Notes
  != linkTo('Create a new Note', addNotePath, {class: 'btn pull-right'})

div#notes-list
  if notes
    each note in notes
      .row.list-item(id="note-" + note.id)
        .span8
          h3!= linkTo(note.id, notePath(note.id))
        .span4
          h3
            i.icon-list-alt
            = note.id

script(type="text/javascript")
  $(function () {
    geddy.io.addListenersForModels(['Note']);

    var renderTemplate = function (note) {
      var template = [ ''
        , '<div class="row list-item" id="note-' + note.id + '">'
        , '  <div class="span8">'
        , '    <h3><a href="/notes/' + note.id + '">' + note.id + '</a></h3>'
        , '  </div>'
        , '  <div class="span4">'
        , '    <h3><i class="icon-list-alt"></i>' + note.id + '</h3>'
        , '  </div>'
        , '</div>'
      ].join('');

      return $(template);
    }

    var NotesController = function (opts) {
      this.options = opts || {};

      this.create = function (note) {
        $('#notes-list').append(renderTemplate(note));
      };

      this.update = function (note) {
        $('#note-' + note.id).replaceWith(renderTemplate(note));
      };

      this.remove = function (id) {
        $('#note-' + id).remove();
      };

    };
    geddy.Notes = new NotesController();

    geddy.model.Note.on('save'   , geddy.Notes.create);
    geddy.model.Note.on('update' , geddy.Notes.update);
    geddy.model.Note.on('remove' , geddy.Notes.remove);
  });
