<div class="hero-unit">
  <h2>All Notes</h2>
  <%- linkTo('Create a new Note', addNotePath, {class: 'btn pull-right'}); %>
</div>

<div id="notes-list">
<% if (notes) { %>
<% for (var i = 0, ii = notes.length; i < ii; i++) { %>
  <div class="row list-item" id="note-<%= notes[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(notes[i].id, notePath(notes[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= notes[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>