doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tracker.css')
    script(src='/javascripts/jquery-1.10.2.min.js')
  body
    block content
    block pageSpecificJS