@import 'nib'
global-reset()
@import 'skeleton'

html
  font 10px "Lucida Grande", Helvetica, Arial, sans-serif

body
  font-size 2.3rem

a
  color: #00B7FF

.dashboard
  max-width 40rem
  margin 2rem auto

.box
  height 40rem
  background red
  margin-bottom 1rem
  padding .5rem
